#root {
  width: 100%;
}

.selected-filter {
  background-color: black;
  color: white;
}

.normal-filter {
  font-weight: normal;
}

.project-list-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}