#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  width: 18rem;
  margin-bottom: 20px;
  border: 1px solid gray;
  padding: 20px;
  height: 100%;
  text-align: left;
}

img {
  width: 100%;
}

h5 {
  font-weight: bold;
}

.btn {
  color: white;
  border-radius: 5px;
  background-color: rgb(91, 91, 219);
  height: 50px;
  padding: 10px;
  margin-top: 15px;
}