#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.treker {
  padding: 20px; 
  max-width: 600px; 
  margin: auto;
}

.dataEntry {
  display: flex;
  gap: 15px;
  align-items: center;
}

.date .distance {
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.label-date .label-distance {
  margin-bottom: 10px;
}

.input-date .input-distance {
  margin-bottom: 10px; 
  height: 25px;
}

.button {
  margin-top: 16px;
  margin-left: 8px;
}

.table {
  width: 100%; 
  margin-top: 20px;
  border-collapse: collapse;
}

.table-header {
  border: 1px solid black; 
  padding: 8px;
}

.table-row {
  border: 1px solid black; 
  padding: 8px;
}